<div class="headSuperior">
  <div class="row">
      <div class="col-md-8">
          <p>
            {{mensaje}} <i class="fas {{telefonoIcon}}"></i> TELEFONO: <a href="tel:{{telefono}}">+{{telefono}}</a>
            | <i class="fas {{correoIcono}}"></i>  CORREO: <a href="mailto:{{correo}}">{{correo}}</a>
          </p>
      </div>
      <div class="col-md-4">
        <div class="sociales" >
            <a href="{{red.link}}"  *ngFor="let red of redeSociales">
            <div>
              <i class="fab {{red.icono}}"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
